/*!
 Theme Name:       UWMEMC Child Theme of the UW WordPress Theme
 Theme URI:        https://github.com/uweb/uw_wp_theme_child
 GitHub Theme URI: https://github.com/uweb/uw_wp_theme_child
 Author:           Joseph W. May
 Author URI:       https://www.psistardesigns.com
 Description:      A child theme based on the UW WordPress Theme for the UW MEM-C website (requires uw_wp_theme v2.2.0)
 Template:         uw_wp_theme
 Version:          0.4.0
 License:          GNU General Public License v2 or later
 License URI:      http://www.gnu.org/licenses/gpl-2.0.html
 Tags:             two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:      uwmemc_child
*/
