.jumbotron {
	.w-60 {
		background: rgba(85, 52, 151, 0.8) !important;
	}

	.subtitle {
		font-size: 2rem;
		margin-bottom: 16px !important;
		text-transform: uppercase;
	}

	.cols {
		color: $color-white;

		@include breakpoint("medium") {
			align-items: stretch;
			display: flex;
			flex-flow: row nowrap;
		}

		& div {
			padding: 24px;
			text-align: center;

			@include breakpoint("medium") {
				width: calc(100% / 3);
			}

			&:first-of-type {
				border-bottom: 4px solid $color-gold;

				@include breakpoint("medium") {
					border-bottom: none;
					border-right: 4px solid $color-gold;
				}
			}

			&:last-of-type {
				border-top: 4px solid $color-gold;

				@include breakpoint("medium") {
					border-top: none;
					border-left: 4px solid $color-gold;
				}
			}
		}
	}

	a {
		color: $color-white;

		&:hover {
			color: $color-gold;
			text-decoration: none;
		}
	}
}
