.news-shortcode {
	max-width: 100%;

	.card {
		background-color: transparent;
		height: auto !important;
	}

	h5 > a {
		color: $color-purple;

		&:hover {
			color: $color-dark-gold;
			text-decoration: underline;
		}
	}

	.read-more {
		margin-bottom: 0;

		a {
			color: $color-purple;
			font-weight: bold;
			text-decoration: none;

			&:hover {
				color: $color-dark-gold;
				text-decoration: underline;
			}
		}
	}
}
