.news-shortcode {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;

	.media {
		align-items: center;

		&:first-of-type {
			margin-top: 1.5rem;
		}

		&:not(:last-of-type) {
			margin-bottom: 3rem;
		}
	}

	h4 > a {
		font-weight: 600;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		margin-right: 1.5rem;
		width: 120px;
	}
}
