.twitter-embed {
	height: 100%;
	margin-bottom: 0;
	min-height: 420px;
	width: 100%;

	div,
	iframe {
		border-radius: 12px;
		height: inherit !important;
	}

	.twitter-timeline {
		width: 100% !important;
	}
}
